body {
  margin: 0;
  overflow: hidden;
  background: #000;
  font-family: sans-serif;
}

#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0,0,0,0);
  padding: 12px;
  border-radius: 6px;
  color: white;
}

#ui input {
  width: 240px;
  padding: 6px;
  margin-bottom: 6px;
  background: #111;
  border: 1px solid #333;
  color: white;
}

#ui button {
  padding: 6px 12px;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}


#ui button:hover {
  background: #222;
  border-color: #fff;
}
